{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/assets/images/tol.png">

    <title>Lion Admin - Dashboard  Blank Page </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="../static/template/vertical/src/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="../static/template/vertical/src/css/style.css">
	<link rel="stylesheet" href="../static/template/vertical/src/css/skin_color.css">

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">
	<div id="loader"></div>

  <header class="main-header">
	<div class="d-flex align-items-center logo-box justify-content-start">	
		<!-- Logo -->
		<a href="index.html" class="logo">
		  <!-- logo-->
		  <div>
			  <span class="light-logo"><img src="/static/assets/images/thr.png" style="height: 60px; width: 190px !important" alt="logo"></span>
			  <span class="dark-logo"><img src="../../../static/images/logo-letter-white.png" alt="logo"></span>
		  </div>
		  <div class="logo-lg">
			  <!-- <span class="light-logo"><img src="../../../static/images/logo-light-text.png" alt="logo"></span>
			  <span class="dark-logo"><img src="../../../static/images/logo-light-text.png" alt="logo"></span> -->
		  </div>
		</a>	
	</div>   
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<div class="app-menu">
		  <ul class="header-megamenu nav">
			  <li class="btn-group nav-item">
				  <a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light" data-toggle="push-menu" role="button">
					  <i data-feather="menu"></i>
				  </a>
			  </li>
			 
		  </ul> 
		</div>
		<div class="navbar-custom-menu r-side">
		  <ul class="nav navbar-nav">
			  <li class="btn-group d-md-inline-flex d-none">
			  </li>
			  <li class="dropdown notifications-menu btn-group ">
				  <a href="#" class="waves-effect waves-light btn-primary-light svg-bt-icon" data-bs-toggle="dropdown" title="Notifications">
					  <i data-feather="bell"></i>
					  <div class="pulse-wave"></div>
				  </a>
				  <ul class="dropdown-menu animated bounceIn">
					<li class="header">
					  <div class="p-20">
						  <div class="flexbox">
							  <div>
								  <h4 class="mb-0 mt-0">Notifications</h4>
							  </div>
							  <div>
								  <a href="#" class="text-danger">Clear All</a>
							  </div>
						  </div>
					  </div>
					</li>
					<li>
					 
					</li>
					<li class="footer">
						<a href="#">View all</a>
					</li>
				  </ul>
			  </li>
			  <!-- User Account-->
			  <li class="dropdown user user-menu">
				  <a href="#" class="waves-effect waves-light dropdown-toggle w-auto l-h-12 bg-transparent p-0 no-shadow" title="User" data-bs-toggle="dropdown">
					  <img src="../../../static/images/avatar/avatar-13.png" class="avatar rounded-circle bg-primary-light h-40 w-40" alt="" />
				  </a>
				  <div class="dropdown-menu">
					  <a class="dropdown-item my-5" href="profile">My Profile</a>
					  <a class="dropdown-item my-5" href="logout">Logout</a>
				  </div> 
			  </li>
		  </ul>
		</div>
	  </nav>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative"> 
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 97%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">				
				<li>
				  <a href="dashboard">
					<i data-feather="home"></i>
					<span>Dashboard</span>
					<span class="pull-right-container">
					</span>
				  </a>				
				</li>
				<li class="treeview">
				  <a href="#">
					<i data-feather="file-plus"></i>
					<span>Our Services</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>					
				  <ul class="treeview-menu">					
					<li><a href="Buy_property"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Buy Property</a></li>
					<li><a href="Sale_property"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Sale Property</a></li>
					<li><a href="Rent_property"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Rent/Lease Property</a></li>
					<li><a href="Mortgage_property"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Mortgage Property</a></li>
				  </ul>
				</li>    					
				<li class="treeview">
				  <a href="#">
					<i data-feather="headphones"></i>
					<span>Support</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>					
				  <ul class="treeview-menu">					
					<li><a href="extra_app_ticket.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Support Ticket</a></li>
					<li style="padding-top: 10px;"><a href="contact_app_chat.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chat</a></li>					
				  </ul>
				</li>
				<li>
				  <a href="profile">
					<i data-feather="database"></i>
					<span>Profile</span>
					<span class="pull-right-container">
					</span>
				  </a>
				</li> 
				<li>
				  <a href="#">
					<i data-feather="edit"></i>
					<span>Our Policy</span>
					<span class="pull-right-container">
					</span>
				  </a>
				</li>		
				<li>
				  <a href="logout">
					<i data-feather="pie-chart"></i>
					<span>Logout</span>
					<span class="pull-right-container">
					</span>
				  </a>					
				</li>			
			  </ul>
		  </div>
		</div>
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
	  

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-12 col-lg-8 col-12">				
					


					<div class="row">

						{% for property in all_properties %}
							<div class="col-xl-4 col-md-6 col-12">
								<div class="box">
									<div class="box-body">
										<div class="overlay position-relative">
											<div class="position-absolute r-0"><span class="bg-primary-light avatar rounded10">-10%</span></div>
											<img src="{{property.img.url}}" alt="" class="img-fluid">
											<div class="overlay-layer">
												<a href="#" class="btn btn-sm btn-primary me-2">Quick View</a>
												<a href="#" class="btn btn-sm btn-primary-light">Purchase</a>
											</div>
										</div>
										<div class="mt-30 pro-dec text-center">
											<h5 class="fw-500"><a href="#">{{forloop.counter}}</a></h5>
											<h5 class="fw-500"><a href="#">{{property.property_name}}</a></h5>
											<p>{{property.property_description}}</p>
											<div class="reting">
												<ul class="list-inline text-center">
													<li class="px-0"><i class="text-warning fa fa-star"></i></li>
													<li class="px-0"><i class="text-warning fa fa-star"></i></li>
													<li class="px-0"><i class="text-warning fa fa-star"></i></li>
													<li class="px-0"><i class="text-warning fa fa-star"></i></li>
													<li class="px-0"><i class="text-warning fa fa-star"></i></li>
												</ul>
											</div>
											<div class="price-dle d-flex justify-content-center align-items-center">
												<p class="fs-16 mb-0 fw-600">{{property.property_price}}</p>
											</div>
										</div>
									</div>
								</div>					
							</div>
						{% endfor %}
                    


					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
	
</div>
<!-- ./wrapper -->
	
	
	
	
	<!-- Page Content overlay -->
	
	
	<!-- Vendor JS -->
	<script src="../static/template/vertical/src/js/vendors.min.js"></script>
	<script src="../static/template/vertical/src/js/pages/chat-popup.js"></script>
    <script src="../../../static/assets1/icons/feather-icons/feather.min.js"></script>	
	
	<script src="../../../static/assets1/vendor_plugins/bootstrap-slider/bootstrap-slider.js"></script>
	
	<!-- Lion Admin App -->
	<script src="../static/template/vertical/src/js/demo.js"></script>
	<script src="../static/template/vertical/src/js/template.js"></script>
	<script>$('.slider').slider()</script>
	

</body>

</html>
